body {
  margin: 0;
  height: 100%;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.4;
  color: var(--color-black);
  background-color: var(--color-concrete);
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  max-width: 1170px;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

h2 {
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: var(--color-fiord);

  span {
    display: block;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 30px;
    text-transform: uppercase;
  }
}

h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  color: var(--color-ebony);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
